
h2 {
  font-family: 'Noto Serif', serif;
  font-size:    32px;
}

h3 {
  font-family: 'Noto Serif', serif;
  font-size:    24px;
}
                
svg { 
  height: 100%;
  width: 100%;
}

#text {
    width: 1200px;
    margin: 0 auto;
}

#left_col {
   float:left;
   width:600px;
}
#right_col {
   float:right;
   width:600px;
}

#clear {
 clear:both;
}

#graph_container {
    position: relative;
    width: 550px;
    height: 1500px;
    margin: 0 auto;
    margin-bottom: 40px;
    top: 10px;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid #ccc;
}

#instruct1 {
    position: absolute;
    top: 40px;
    left: 15px;
    background: white;
    /*border: 1px dashed;*/
}

#solitons {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 50px;
    left: 50px;
    background: transparent;
    /*border: 1px dashed;*/
}

#solitons-x-label {
    position: absolute;
    top: 380px;
    left: 245px;
}

#solitons-y-label {
    position: absolute;
    top: 190px;
    left: -20px;
}

#stack {
    position: absolute;
    width: 500px;
    height: 800px;
    top: 650px;
    left: 25px;
    background: white;
    /*border: 1px dashed;*/
}

#stack-x-label {
    position: absolute;
    bottom: 0px;
    left: 245px;
}

#parameters {
    position: absolute;
    width: 450px;
    height: 100px;
    top: 520px;
    left: 50px;
    background: transparent;
    /*border: 1px dashed;*/
}

#instruct2 {
    position: absolute;
    top: -30px;
    left: 110px;
    background: white;
    /*border: 1px dashed;*/
}

.text-button {
    cursor: pointer;
    background: #ddf;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
}

/*--------*/

/*
nav {
    height: 26px;
    text-align: center; 
}
*/

nav {
    text-align: center; 
    height: 46px;
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 2147483647;
    zoom: 1;
}


nav ul {
    padding: 0;
    bborder-width: 1px;
    border-style: solid;
    border-color: #d5d5d5 #d2d2d2 #cdcdcd;
    border-radius: 6px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); 
}


nav li {
    float: left;
    bborder-left: 1px solid #d2d2d2; 
}

nav li:first-child {
    border-left: 0; 
}

nav li:first-child a {
        border-radius: 6px 0 0 6px; 
}

nav li:last-child a {
    border-radius: 0 6px 6px 0; 
}

nav a {
    height: 46px;
    width: 48px;
    padding: 0;
    background: #000000 no-repeat;
    background-position: 8px 7px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    color: rgb(221, 221, 221);
    line-height: 26px;
    text-shadow: 0 1px #fff;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(top, #fcfcfc, #f0f0f0);

    background-color: #2C2C2C;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    
    /*-webkit-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
    -moz-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
    -ms-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
    -o-box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa;
    box-shadow: inset 1px 1px #fafafa, inset -1px -1px #fafafa; }*/
}

nav a:hover {
    color: #333;
      color: rgb(221, 221, 221); /* FIXME */
      z-index: 10;
      text-decoration: none;
      /*
      /-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
      /-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
      /-ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
      /-o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa;
      /box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 1px 1px #fafafa, inset -1px -1px #fafafa; 
      */
      background-color: #2C2C2C;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
      background-image: -webkit-linear-gradient(top, #555555, #222222);
      background-image: -moz-linear-gradient(top, #555555, #222222);
      background-image: -ms-linear-gradient(top, #555555, #222222);
      background-image: -o-linear-gradient(top, #555555, #222222);
      background-image: linear-gradient(top, #555555, #222222);
}

nav li.active a, nav a:active, nav a:visited {
    color: #333;
    color: rgb(221, 221, 221);
    bbackground: #fff;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); 
}

nav #zoomin {
    background-image: url(icons/zoom_in.png);
}

nav #zoomout {
    background-image: url(icons/zoom_out.png);
}

nav #first {
    background-image: url(icons/arrow_double_left.png);
}

nav #last {
    background-image: url(icons/arrow_double_right.png);
}

nav #next {
    background-image: url(icons/arrow_right.png);
}

nav #back {
    background-image: url(icons/arrow_left.png);
}

nav #slideshow {
    background-image: url(icons/slideshow_play.png);
}

nav #slideshow.wowbook-disabled {
    background-image: url(icons/slideshow_pause.png);
}

nav #flipsound {
  background-image: url(icons/sound_on.png);
}

nav #flipsound.wowbook-disabled {
    background-image: url(icons/sound_off.png);
}

nav #thumbs {
    background-image: url(icons/thumbs.png);
}

nav #fullscreen {
    background-image: url(icons/fullscreen_on.png);
}

nav #fullscreen.wowbook-disabled {
    background-image: url(icons/fullscreen_off.png);
}

/*
nav a:active,
nav a:hover,
*/

nav a {
  outline: none;
}

#pdes {
    position: absolute;
    top: 100px;
}

#click_to_open {
    display: none
    position: absolute;
    left: 25%;
    margin-left: -180px;
    top: 50%;
    margin-top: -50px;
}
